@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

body .contentBox {
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    border: solid 2px #000;
    margin: 0 auto 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


body .menu ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 40px;
}




@keyframes colorWall {
    from {
      opacity: 0;
      transform: translate(0, 2%);
    }
    to {
      opacity: .085;
      transform: translate(0, 0);
    }
  }
  
  @keyframes introText {
    from {
      opacity: 0;
      transform: translate(0, -2%);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  @keyframes mePhoto {
    from {
      opacity: 0;
      transform: translate(-8%, 0);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  @keyframes socialMediaIcons {
    from {
      opacity: 0;
      transform: translate(0, -10%);
    }
    to {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  

  
  @keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.25);
    }
    80%{
      opacity: 1;
      transform: scale(0.96);
    }
    100%{
      opacity: 1;
      transform: scale(1);
    }
  }
  